* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/

li {
    font-family: Calibri;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4;
    padding-bottom: 30px;
}

p {
    font-family: Calibri;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4;
    padding-bottom: 15px;
}

ul {
    list-style-type: none;
}

body {
    background-image: url(/css/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center -140px;
}

main {
    text-align: center;
}

h1 {
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-family: Raleway;
    font-weight: 900;
    font-size: 46px;
    color: white;
    line-height: 0.7;
    letter-spacing: 0em;
    padding: 20px 60px;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    margin-bottom: 240px;
}

h2 {
    font-family: Raleway;
    font-weight: 800;
    font-style: normal;
    font-size: 48px;
    margin-bottom: 60px;
}

h3 {
    font-family: Calibri;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 26px;
}

h4 {
    margin-bottom: 15px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.header {
    margin: 0 auto;
    width: 1300px;
    text-align: center;
    padding-top: 170px;
}

.brand {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

.header-order {
    /* border: solid 1px white; */
    text-align: end;
    color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
}

.header-order a {
    padding-right: 30px;
    color: white;
    font-family: Formular;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Formular;
    letter-spacing: 0.1em;
}

.brand span {
    color: white;
    display: block;
    font-family: Formular;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.5;
}

.brand img {
    margin-bottom: 10px;
}

.header-order button {
    border-color: rgba(255, 168, 0, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #FFA800;
    border-radius: 27px;
    padding: 10px 30px;
    color: rgba(255, 255, 255, 1);
    font-family: Formular;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

h1 span {
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0em;
}

.services h2 {
    color: white;
}

.services-flex {
    max-width: inherit;
    display: flex;
    justify-content: space-between;
}

.wrap-category {
    background-color: rgba(201, 246, 255, 0.4);
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    max-width: 365px;
    width: 100%;
    margin: 0 10px;
}

.item-service {
    background-color: #C9F6FF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    padding: 60px 40px;
    height: 100%;
}

.wrap-category img {
    margin-bottom: 20px;
}

.item-service h3 {
    margin-bottom: 20px;
}

.services-list {
    font-family: Calibri;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
    width: 100%;
    text-align: left;
}

.services {
    transform: translateY(-170px);
}

.wrap-size {
    width: 1300px;
    margin: 0 auto;
}

.wrap {
    background-color: white;
}

.adventage {
    width: 100%;
    margin-bottom: 110px;
}

.adventage-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 270px;
    align-content: space-between;
    width: 860px;
    margin: 0 auto;
    background-image: url(/css/img/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.adventage-list li {
    text-align: left;
    width: 340px;
}

.simple-procedure {
    background-color: rgba(201, 246, 255, 0.4);
    padding: 20px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-bottom: 60px;
}

.procedure-list li, h4 {
    color: white;
}

.simple-procedure h2 {
    color: white;
    padding-top: 60px;
}

.procedure-list {
    list-style-type: none;
    display: flex;
    text-align: left;
    justify-content: space-between;
    margin: 0 auto;
    width: 860px;
}

.procedure-list li {
    flex: 0 0 33.33%;
}

.wrap-procedure {
    background-color: rgb(3, 3, 3);
    height: 500px;
}

.procedure-list li .procedure-list-tel {
    color: white;
    font-family: Formular;
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
    text-transform: uppercase;
    padding: 10px 25px;
    background-color: rgba(255, 168, 0, 1);
    text-align: left;
    display: inline-block;
    margin-top: 15px;
}

.foto-procedure {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.wrap-size:first-child p {
    margin-bottom: 30px;
}

.pre-processing p {
    padding: 0 0 30px 15px;
    text-align: left;

}

.wrap-size.pre-processing {
    width: 895px;
}

.pre-processing-list {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    height: 570px;
    text-align: left;
    margin: 0 auto;
}

.pre-processing-list li {
    list-style-image: url(/css/img/list-style.svg);
    list-style-position: outside;
    width: 370px;
    padding-left: 15px;
}

.wrap-size.processing {
    height: 550px;
    background-image: url(/css/img/Processing.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 170px;
}

.processing-textblock-1 {
    width: 860px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 60px;
}

.processing-downloadblock {
    width: 860px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.processing-downloadblock li {
    text-align: left;
}

.processing-textblock2 {
    width: 860px;
    margin: 0 auto;
    text-align: left;
}

.processing-downloadblock a {
    display: inline-block;
    height: 32px;
    font-family: Calibri;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

.img-download {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(/css/img/Document.svg);
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    margin-right: 10px;
}

.roach-death {
    display: flex;
    justify-content: center;
    align-items: center;
}

.roach-death p {
    text-align: left;
    text-indent: 0;
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

.roach-death button {
    border-color: rgba(255, 168, 0, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #FFA800;
    border-radius: 27px;
    padding: 10px 50px;
    color: rgba(255, 255, 255, 1);
    font-family: Formular;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
}




@media (max-width: 768px) {
    .clear-block, .brand, .header-order {
        width: 100%;
    }
}