* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/

li {
    font-family: Calibri;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
    padding-bottom: 20px;
}

p {
    font-family: Calibri;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4;
    padding-bottom: 30px;
    text-align: left;
}

span {
    font-family: Calibri;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

strong {
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
}

ul {
    list-style-type: none;
}

body {
    background-image: url(/css/img/whitebg.svg), url(/css/img/bg.jpg);
    background-repeat: repeat-x, no-repeat;
    background-position: 0 1020px, center -140px;
    background-size: auto 250px, auto auto;
}

main {
    text-align: center;
}

button {
    border-color: rgba(255, 168, 0, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: #FFA800;
    border-radius: 27px;
    padding: 10px 30px;
    color: rgba(255, 255, 255, 1);
    font-family: Formular;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
}

a {
    color: white;
}

h1 {
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-family: Raleway;
    font-weight: 900;
    font-size: 46px;
    color: white;
    line-height: 0.7;
    letter-spacing: 0em;
    padding: 20px 60px;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    margin-bottom: 240px;
}

h2 {
    font-family: Raleway;
    font-weight: 800;
    font-style: normal;
    font-size: 48px;
    margin-bottom: 60px;
}

h3 {
    font-family: Calibri;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 26px;
}

h4 {
    margin-bottom: 15px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

/* >HEader                                       */
.header {
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    text-align: center;
    padding-top: 170px;
}

.brand {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

.header-order {
    text-align: end;
    color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
}

.header-order a {
    padding-right: 30px;
    color: white;
    font-family: Formular;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Formular;
    letter-spacing: 0.1em;
}

.brand span {
    color: white;
    display: block;
    font-family: Formular;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.5;
}

.brand img {
    margin-bottom: 10px;
}

.header-order button {
    margin-bottom: 12px;
}

/* >Main                                         */
h1 span {
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0em;
}

/* >section services                             */
.services h2 {
    color: white;
}

.wrap-size {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.services-block {
    display: flex;
    justify-content: space-between;
}

.wrap-category {
    background-color: rgba(201, 246, 255, 0.4);
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    flex: 0 1 365px;
}

.item-service {
    background-color: #C9F6FF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    padding: 60px 40px;
    height: 100%;

}

.wrap-category img {
    margin-bottom: 20px;
}

.services-list {
    text-align: left;
}

.wrap-sizesmall {
    width: 860px;
    margin: 0 auto;
}

/* >section adventage                        */
/* #Адаптив не работает по высоте и ширине если расстояния между Li будут одинаковые*/
.adventage-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url(/css/img/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.adventage-list li {
    text-align: left;
    flex: 0 1 35%;
}

/* >section simple-procedure                     */
.wrap-simple-procedure-content {
    background-color: rgba(201, 246, 255, 0.4);
    padding: 20px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 0 0 60px 0;
    max-width: inherit;
}

.wrap-simple-procedure-bg {
    background-color: rgb(3, 3, 3);
    padding-bottom: 80px;
}

.link {
    color: #05809D;
}

.simple-procedure-list li, h4 {
    color: white;
}

.simple-procedure h2 {
    color: white;
    padding-top: 80px;
}

.simple-procedure-list {
    list-style-type: none;
    display: flex;
    text-align: left;
    justify-content: space-between;
    margin: 0 auto;
}

.simple-procedure-list li {
    flex: 0 0 33.33%;
}

.simple-procedure-list-tel {
    color: white;
    font-family: Formular;
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
    text-transform: uppercase;
    padding: 8px 40px 8px 25px;
    background-color: #FFA800;
    text-align: left;
    display: inline-block;
    margin-top: 15px;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
}

.simple-procedure-foto {
    display: flex;
    justify-content: space-between;
}

.simple-procedure a {
    text-decoration: underline;
}

.simple-procedure-list .simple-procedure-list-tel {
    text-decoration: none;
    transform: translateX(-20px);
}

.simple-procedure a:hover {
    color: #ffffff;
    text-decoration: none;
}

/*>section pre-processing                         */

.pre-processing-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;

}

.pre-processing-list li {
    list-style-image: url(/css/img/list-style.svg);
    list-style-position: outside;
    padding-left: 15px;
    flex: 0 1 375px;
}

/* >section processing                           */
.processing a {
    color: black;
}

.processing a:hover {
    text-decoration: underline;
}

.wrap-processing-bg {
    height: 550px;
    background-image: url(/css/img/Processing.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 170px;
}

.processing-downloadblock {
    display: flex;
    flex-wrap: wrap;
    margin: 60px 0 60px 0;
}

.processing-downloadblock li {
    text-align: left;
    flex: 0 1 33.333%;
}

.processing-downloadblock a {
    display: inline-block;
    height: 32px;
    font-family: Calibri;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

.icon-download {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(/css/img/Document.svg);
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    margin-right: 10px;
}

.roach-death {
    display: flex;
    justify-content: center;
    align-items: center;
}

.roach-death p {
    font-family: Calibri;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
}

.roach-death-text em {
    font-style: normal;

}


/* >section after-processing                         */
/* >section prices                                   */
.prices table {
    width: 100%;
    border-spacing: 0 8px;
    text-align: left;
    font-family: Calibri;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 60px;
}

.wrap-table1, .wrap-table2 {
    position: relative;
}

.wrap-table1 img {
    border-radius: 50%;
    border: solid white 40px;
    position: absolute;
    top: 0;
    right: -148px;
}

.wrap-table2 img {
    border-radius: 50%;
    border: solid white 40px;
    position: absolute;
    top: 0;
    right: -148px;
}

.prices caption {
    text-align: left;
    font-family: Calibri;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 26px;
    padding-left: 45px;
}

.prices table td:nth-child(2) {
    width: 57%;
}

.wrap-table1 td {
    padding: 12px 45px;
    background-color: rgba(201, 246, 255, 1);
}

.wrap-table2 td {
    padding: 12px 45px;
    background-color: #EFEFEF;
}

/* >section form-order                               */
.form-order {
    width: 342px;
    margin: 0 auto;
    text-align: left;
}

.form-order input[type=text] {
    display: block;
    border: solid 2px #D2C5BA;
    padding: 13px 20px 10px 20px;
    margin-bottom: 30px;
    width: 100%;
    font-family: Calibri;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;

}

.form-order input[type=text]:focus {
    background-color: transparent;
    border: 2px solid black;
}

.form-order input[type=text]::placeholder {
    font-family: Calibri;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}

.checkbox {
    display: none;
}

label span {
    display: inline-block;
    padding-top: 2px;
}

.checkbox+label {
    background-image: url(/css/img/check-box-no.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    font-family: Calibri;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #888888;
    display: block;
    margin-bottom: 30px;
    width: 100%;
    height: 40px;
    padding: 2px 0 0 30px;
}

.checkbox:checked+label {
    background-image: url(/css/img/check-box-yes.svg);
    background-repeat: no-repeat;
}

.form-order button {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.services, .adventage, .simple-procedure, .pre-processing, .processing, .after-processing, .prices, .form-send-order {
    margin-bottom: 60px;
}

/* >Footer                                       */
footer .wrap-footer-content {
    background-color: rgba(201, 246, 255, 0.4);
    padding-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.footer-bg {
    background-color: black;
    padding: 60px 0;
}

.footer-bg .wrap-size {
    display: flex;
    justify-content: space-between;
    color: white;
}

footer span {
    display: inline-block;
}

.info span {
    padding-bottom: 10px;
}

.autor {
    align-self: end;
    margin-bottom: 20px;
}

.autor span:nth-child(1) {
    color: #888888;
}

.autor span:nth-child(3) {
    color: #ff0000;
}

footer .tel {
    font-family: Formular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

footer .e-mail {
    margin-bottom: 85px;
}

footer .year {
    color: rgba(136, 136, 136, 1);
}

button:hover {
    background-color: #E89900;
    cursor: pointer;
}

/* a:hover {
    color: #E89900;
    text-decoration: underline;
} */


/* >popUp                                                        */

.pop-up-bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.pop-up-bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.pop-up {
    max-width: 640px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    transform: translateY(50%) scale(0);
    border: 2px solid #FFA800;
    background-color: white;
    border-radius: 8px;
    transition: 0.5s all;
}

.pop-up.active {
    transform: translateY(50%) scale(1);
    transition: 0.5s all;
}

.form-order.form-popup {
    width: 100%;
    height: 100%;
    padding: 50px 50px 30px 50px;
    text-align: center;
}

.wrap-input {
    max-width: 325px;
    width: 100%;
    margin: 0 auto;
}

.close-form {
    width: 23px;
    height: 23px;
    background-image: url(/css/img/close-form.svg);
    position: absolute;
    right: 20px;
    top: 20px;
}

.close-form:hover {
    cursor: pointer;
}

@media screen and (max-width: 1365px) and (min-width:1024px) {

    h1 {
        color: red;
    }

    body {
        background-image: url(/css/img/bg.jpg);
        background-repeat: no-repeat;
        background-position: center -140px;
        background-size: auto auto;
    }


    .wrap-size {
        max-width: 1365px;
    }



    .simple-procedure-foto {
        justify-content: space-around;
    }

    .simple-procedure-foto img:last-child {
        display: none;
    }
}